@charset "utf-8"; /* CSS Document */
.content img {
	width: 100%;
	border-radius: 15px 0 15px 15px;
}
.content {
	background: none;
}
@media screen and (max-width:480px) {
.pic {
	width: 80%;
}
.content img {
	border-radius: 0;
}
}
